<h2>
    <%= title %>
</h2>
<ul class="content-list">
    <% list.map(map).map((item) => { %>
        
        <li>
            <a href="<%= item.url %>">
                <% if(item.image){ %>
                    <img src="<%= item.image %>" alt="<%= item.label %>" />
                <% } %>
                <div>
                    <p><%= item.label %></p>
                </div>
            </a>
        </li>
    <% }) %>
</ul>